{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'CV_style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <ul class="menu">
            <li><a href="/home_page/exp_page">Dośwadczenie</a></li>
            <li><a href="/home_page/qualities_page/">Umiejętności</a></li>
            <li><a href="/home_page/hobby_page/">Zainteresowania</a></li>
        </ul>

        <div class="header"><h1>Curriculum Vitae</h1></div>

        <div class="CV">
            <div class="left">
                <div class="image"><img src="{% static 'twarz_bez_tla.png' %}"></div>
                <name> Hubert Gąsior</name>
                <br>
                <name>E-mail: </name> h.gasior7@gmail.com
                <br>
                <name>Telefon: </name> +48 500 230 391
                <br>
                <br>
                <name>Doświadczenie:</name>
                <ul>
                    <li>Projekt gry karcianej Black Jack na mikrokontrolerze ATmega 328PB</li>
                    <li>Projekt strony internetowej „O Mnie”</li>
                    <li>Praca na stanowisku specjalista obsługi klienta w BP 02.07.2021 – obecnie</li>
                    <li>Dorywczy pracownik techniczny przy organizacji wydarzeń</li>
                </ul>
                <br>
                <br>
                <name>Zainteresowania:</name>
                <ul>
                    <li>Podróże</li>
                    <li>Wspinaczka górska</li>
                </ul>
            </div>
            
            <div class="right">
                <name>Profil Zawodowy:</name> 
                <br>
                Ambitny student 2 roku Elektroniki i Telekomunikacji na Wydziale Informatyki Elektroniki i Telekomunikacji na AGH. Poszukujący możliwości zdobycia nowego doświadczenia poprzez staż lub praktykę.
                <br>
                <br>
                <name>Umiejętności:</name>
                <ul>
                    <li><name>Zawodowe:</name>
                    <ul>
                        <li>Podstawowa znajomość języka C++, Python, Julia, MATLAB </li>
                        <li>Podstawowa znajomość systemu operacyjnego Linux</li>
                        <li>Podstawowa wiedza i umiejętność analizy układów elektronicznych</li>
                        <li>Podstawowa wiedza z zakresu techniki cyfrowej</li>
                        <li>Podstawowa wiedza z zakresu sieci komputerowych</li>
                    </ul></li>
                    <li><name>Jęzk obcy:</name>
                    <ul>
                        <li>Znajomość języka Angielskiego na poziomie B2</li>
                    </ul></li>
                    <li><name>Interpersonalne:</name>
                    <ul>
                        <li>Analityczne i logiczne myślenie</li>
                        <li>Komunikatywność</li>
                        <li>Kreatywność i innowacyjność</li>
                        <li>Poczucie odpowiedzialności</li>
                    </ul></li>
                    <li><name>Inne:</name>
                    <ul>
                        <li>Prawo jazdy kategorii B</li>
                    </ul></li>
                </ul>
            </div>
        </div>
        
        <br>

        <footer>
            <div class="github">        
                <a href="https://github.com/Hubert-Gasior"><img src="{% static 's_github.png' %}" alt="GitHub - Hubert Gąsior"></a>
                <br>
                <a href="https://github.com/Hubert-Gasior">GitHub - Hubert Gąsior</a>
            </div>
            <div class="linkdin">
                <a href="https://www.linkedin.com/in/hubert-g%C4%85sior-496918323/"><img src="{% static 's_linkdin.png' %}" alt="Linkdin - Hbert Gąsior"></a>
                <br>
                <a href="https://www.linkedin.com/in/hubert-g%C4%85sior-496918323/">Linkdin - Hubert Gąsior</a>
            </div>
        </footer>

    </body>
</html>